// Add Option Error
.add-option-error {
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
  color: $light-purple;
  font-style: italic; 
}

.add-option {
  padding: $m-size;
  display: flex;
  flex-direction: column;
  
  &__input{
    margin: 0 0 $m-size 0;
    border: none;
    border-bottom: .3rem solid darken($dark-blue, 10%);
    padding: $s-size;
    background: $dark-blue;
    flex-grow: 1;
    color: $white;
  }
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  
    &__input {
      margin: 0 $s-size 0 0;
    }
  }  
}
